[defaults]
inventory = inventory/hosts.ini
roles_path = roles
# Use minimal fact caching for speed
fact_caching = memory

[privilege_escalation]
# Assume vagrant uses passwordless sudo
become = True
become_method = sudo
